
<hr />

<h4 class="mt-5">Wine input form</h4>

<form action="CreateWine" method="GET">

    Naziv:
    <input type="text" name="Name of wine" />
    <br />

    Description:
    <input type="text" name="Description" />
    <br />



    Country:
    <input type="text" name="Country" />
    <br />

    Price:
    <input type="text" name="Region" />
    <br />

    Year:
    <input type="text" name="Year" />
    <br />


    <input type="checkbox" name="region" /> Region select?
    <br />

    <select name="Region">
        <option value="">Odaberite regiju</option>
        <option value="Bordeaux">Bordeaux</option>
        <option value="Burgundy">Burgundy</option>
        <option value="Lepi Dečki">Champagne</option>
        <option value="Loire">Loire</option>
        <option value="Alsace">Alsace</option>
        <option value="Rhône">Rhône</option>
        <option value="Provence">Provence</option>
        <option value="Languedoc">Languedoc</option>
        <option value="Beaujolais">Beaujolais</option>

    </select>

    <br />
    <input type="submit" value="Klikni me!" />

</form>